{% extends 'index2.html' %}
{% load simple_tags %}
<!DOCTYPE html>
{% load static %}
{% load highlight %}
<html lang="en">
<head>
    <title>My Space</title>
    <meta charset="UTF-8">
</head>
<body>
    {% block article %}
    {% for blog in blog_list%}
    <article>
        <div class = 'article'>
        <h2 class="article-title"> {{ blog.title }}</h2>
        <div class = 'clr'></div>
        <!--
        <p class="article-meta">Posted on <strong %="the Month & & the Day">{{ blog.created_time }}</strong>by <strong rel="author">Robert</strong></p>
        -->
        <p class="article-meta">Posted by <strong href="#" rel="author">Robert</strong> · Filed under <strong>{{ blog.category.name }}</strong></p>
        <div class = 'clr'></div>
        <p>{{ blog.excerpt }}</p>

        <p>Tagged:
            {%  for tag in blog.tags.all  %}
                <span  class="badge badge-light" href="#">{{ tag.name }}</span>
            {% endfor %}
        </p>
        <p>
        <span class="article-meta"> {{ blog.created_time }} </span>
        <span>|</span>
        <span class="article-meta">Responses  <strong>{{ blog.comment_set.count }}</strong></span>
        <span>|</span>
        <span class="article-meta">read <strong>{{ blog.views }}</strong></span>
        </p>
        </div>
        <!--
        <ul>
            <li>Firefox</li>
            <li>IE / Edge</li>
            <li>Chrome</li>
            <li>Safari</li>
            <li>iOS / Android</li>
        </ul>
        -->
        <a href="{% url 'Blog:detail' blog.id %}" class="btn btn-primary">Read more</a>
        <a href="{% url 'Blog:detail' blog.id %}" class="btn btn-secondary">Comments</a>
    </article>
    {% endfor %}
    {% endblock %}
    {% block page %}
    {% endblock %}

    {% block side %}


    <div class="sidebar-box">
        <h4>目录 / Categories</h4>
        <div class="list-group list-group-root">
            <a class="list-group-item" href="{% url 'Blog:index2' %}">主页 / Home</a>
            <!--<a class="list-group-item" href="blogging.html">发布博客 / Post Blogs</a>-->

            <a class="list-group-item" href="{% url 'Blog:index2' %}">文章类型 / Categories</a>
            <div class='list-group'>
                {% get_categories as category_list %}{% for category in category_list %}<a class='list-group-item'href="{% url 'Blog:category' category.pk %}">{{ category.name }}</a>{% endfor %}
            <!--
            {% get_categories as category_list %}
            {% for category in category_list %}
            <li>
                <a href="{% url 'Blog:category' category.pk %}">
                    {{ category.name }} <span class="post-count">(13)</span>
                </a>
            </li>
            {% empty %}
            暂无分类！
            {% endfor %}
            -->
            </div>

            <a class="list-group-item active" href="{% url 'Blog:index2' %}">标签 / Tags</a>
            <div class='list-group'>
                    {% get_tags as tag_list %}{% for tag in tag_list %}<a class='list-group-item'href="{% url 'Blog:tag' tag.pk %}">{{ tag.name }}</a>{% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>