{% extends 'index2.html' %}
<!DOCTYPE html>
{% load static %}
{% load highlight %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block article %}
    <title>Title</title>
    {% for blog in blog_list%}
    <article>
        <div class = 'article'>
        <h2 class="article-title"> {{ blog.title }}</h2>
        <div class = 'clr'></div>
        <!--
        <p class="article-meta">Posted on <strong %="the Month & & the Day">{{ blog.created_time }}</strong>by <strong rel="author">Robert</strong></p>
        -->
        <p class="article-meta">Posted by <strong href="#" rel="author">Robert</strong> · Filed under <strong>{{ blog.category.name }}</strong></p>
        <div class = 'clr'></div>
        <p>{{ blog.excerpt }}</p>

        <p>Tagged:
            {%  for tag in blog.tags.all  %}
                <span  class="badge badge-light" href="#">{{ tag.name }}</span>
            {% endfor %}
        </p>
        <p>
        <span class="article-meta"> {{ blog.modified_time }} </span>
        <span>|</span>
        <span class="article-meta">Responses  <strong>{{ blog.comment_set.count }}</strong></span>
        <span>|</span>
        <span class="article-meta">read <strong>{{ blog.views }}</strong></span>
        </p>
        </div>
        <!--
        <ul>
            <li>Firefox</li>
            <li>IE / Edge</li>
            <li>Chrome</li>
            <li>Safari</li>
            <li>iOS / Android</li>
        </ul>
        -->
        <a href="{% url 'Blog:detail' blog.id %}" class="btn btn-primary">Read more</a>
        <a href="{% url 'Blog:detail' blog.id %}" class="btn btn-secondary">Comments</a>
    </article>
    {% endfor %}
    {% endblock %}
    {% block page %}
    {% endblock %}



</head>
<body>

</body>
</html>